@model st10275468_CLDV6212_POE_ThomasKnox_Gr03.Models.CustomerDetails


<div class="text-center">
    <h1 class="display-4">Add customer profiles below:</h1>
    <form asp-action="AddCustomerDetails" method="post">
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" name="Surname" placeholder="Surname" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="text" name="Number" placeholder="Number" />
    <button type="submit">Add Profile</button>
    </form>
</div>