@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: #FFFFFF;
        background-image: url('Images/Background1.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center; 
    }
    .div1{
        text-align: center;
        padding-top: 20px;
    }


</style>
<body>
<div class="div1">
    <h1 class="display-4">Heading</h1>
    <p>Paragraph</p>
    <p>Paragraph</p>
</div>
</body>