html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar {
    background-color: #000000; 
    border-bottom: 1px solid #ffffff; 
}

    .navbar .navbar-brand {
        color: #ffffff; 
    }

    .navbar .navbar-nav .nav-link {
        color: #ffffff; 
        padding: 15px; 
        border-right: 2px solid #ffffff;
    }

        .navbar .navbar-nav .nav-link:last-child {
            border-right: none;
        }

        .navbar .navbar-nav .nav-link:hover {
            color: #cccccc; 
        }


.navbar-toggler-icon {
    background-color: #ffffff; 
}