@{
    ViewData["Title"] = "File Page";
}
<div class="text-center">
    <form asp-action="UploadFile" asp-controller="FileProcessing" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>

    <form asp-action="UploadMedia" asp-controller="FileProcessing" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload Media</button>
    </form>
</div>
<div>
    <form asp-action="ProcessOrder" asp-controller="FileProcessing" method="post">
        <input type="text" name="orderID" placeholder="Order ID" />
        <button type="submit">Process Order</button>
    </form>

</div>