@{
    ViewData["Title"] = "File Page";
}
<style>
    body {
        color: #FFFFFF;
        background-image: url('/Images/Background1.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center; 
        height: 100vh; 
        margin: 0; 
    }
    .container{
        
        display:flex;
        justify-content: space-between;
        padding-top:20px;
        width: 100%;
        box-sizing:border-box;
       
    }

    .div1, .div2 {
        flex: 1; 
    }
    .div1 {
    
    margin-right: 10px;
    padding-left: 100px;
    }
    .div2{
        
        padding-left:200px
   
    }
    .div3{
       
    padding-top: 50px;
    padding-left: 113px;
    }
    h {
       
        font-size:23px;
    }
    .space {
        padding-top:10px;
    }
    .h1{
        
        padding-top:20px;
        padding-left: 100px;
    }

    .display-4 {
        
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0; 
    }
    .display-4-smaller {
        font-size: 28px; 
        font-weight: 300; 
        line-height: 1.2;
        text-align: center; 
        margin-bottom: 20px; 
        color: inherit; 
        margin-left:0px;
        text-align: left;
    }
</style>
<body>
    <h1 class="display-4">Upload contracts or product images:</h1>

<div class=" container">

    
    <div class="div1">

            <h class ="display-4-smaller">Upload contracts: </h>
        <form asp-action="UploadFile" asp-controller="FileProcessing" method="post" enctype="multipart/form-data" class=" space">
            <input type="file" name="file" />
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="div2">
            <h class="display-4-smaller">Upload product images: </h>
        <form asp-action="UploadMedia" asp-controller="FileProcessing" method="post" enctype="multipart/form-data" class=" space">
            <input type="file" name="file" />
            <button type="submit">Upload</button>
        </form>
    </div>
   
</div>



<div class=" div3">
        <h class="display-4-smaller">Process orders below:</h>
    <form asp-action="ProcessOrder" asp-controller="FileProcessing" method="post" class=" space">
        <input type="text" name="orderID" placeholder="Order ID" />
        <button type="submit">Process</button>
    </form>

</div>
</body>