@{
    ViewData["Title"] = "File Page";
}
<style>
    form {
        padding-top: 10px;
        border: 1px solid #ddd;
        padding: 8px;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }

        form input {
            border: 1px solid #ccc;
            padding: 4px;
            margin-bottom: 10px;
            border-radius: 4px;
            width: 80%;
        }

        form button {
            border: 1px solid #007bff;
            background-color: #007bff;
            color: white;
            padding: 4px 10px;
            border-radius: 4px;
            cursor: pointer;
        }

            form button:hover {
                background-color: #0056b3;
                border-color: #004085;
            }

    body {
        color: #FFFFFF;
        background-image: url('/Images/Background1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        margin: 0;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        width: 100%;
        box-sizing: border-box;
        max-width: 1000px;
    }

    .div1, .div2 {
        flex: 1;
        margin: 0 10px;
        padding-left: 20px;
    }

    .div3 {
        padding-top: 30px;
        padding-left: 40px;
    }

    h1, h2 {
        font-size: 23px;
        text-align: center;
    }

    .display-4 {
        text-align: center;
        margin: 0;
        margin-top: 0px; 
    }

    .display-4-smaller {
        text-align: left;
        font-size: 24px; 
        font-weight: 300;
        line-height: 1.2;
        
        margin-bottom: 20px; 
        color: inherit;
        margin-left: 0;
    }

    .gap {
        margin-bottom: 20px; 
    }
</style>
<body>
    <h1 class="display-4">Upload contracts or product images:</h1>

    <div class="container">
        <div class="div1">
            <h2 class="display-4-smaller">Upload contracts:</h2>
            <form asp-action="UploadFile" asp-controller="FileProcessing" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <button type="submit">Upload</button>
            </form>
        </div>

        <div class="div2 gap">
            <h2 class="display-4-smaller">Upload product images:</h2>
            <form asp-action="UploadMedia" asp-controller="FileProcessing" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>

    <div class="div3">
        <h2 class="display-4-smaller">Process orders below:</h2>
        <form asp-action="ProcessOrder" asp-controller="FileProcessing" method="post">
            <input type="text" name="orderID" placeholder="Order ID" />
            <button type="submit">Process</button>
        </form>
    </div>
</body>
